html, body {
  margin: 0; padding: 0; height: 200vh;
  background: #111;
  overflow-x: hidden;
}
canvas#threadCanvas {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  pointer-events: none;
  z-index: 9999;
}
